.canvas-StaticElements{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;    
}

.canvas-DinamicElements{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;  
}

.game-container{
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}