.home{
    position: relative;
    background: url('../../../images/HomeBackgorund.png');
    background-size:contain;

    display: flex;
    flex-flow: column wrap;
    align-items:flex-start;
    justify-content: center;



    .btn-init{
        width:15.625vw;
        height:5.5vh;
        background: url('../../../images/Comenzar.png');
    }

    .btn-config{
        width: 36.25vw;
        height: 5.5vh;
        background: url('../../../images/Configuracion.png');
    }

    .btn-init , .btn-config{
        display: block;
        margin-top:6vh;
        margin-bottom:6vh;
        margin-left: 6vw;
        position :relative;

        border: none;
        background-size:contain;
        background-repeat: no-repeat;
        background-position:center;
        transition: all 0.2s;
    }


    > .selected{
        margin-left: 10vw;
        transition: all 0.2s;
    }

    >.selected::after{
        content: '';
        top: 0;
        left: -5vw;
        position: absolute;

        width:3.125vw;
        height:5.5vh;

        background: url('../../../images/Arrow.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position:center;
    }



}

.config{
    margin: auto 20%;


    width:60%;
    height:60%;
    background-color: #69304c;
    

    .item  +.title{
        margin: 2% auto;
        width: 18.125vw;
        height: 3.33vh;

        background: url('../../../images/configuracionTitulo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position:center;
    }

    .item{
        width: 100%;
        height: 5.55vh;
        border: none;
        background: transparent;
    }

    .selected{
        background-color: #6e3f5660;
    }
}