.container{    
    width: 100vw;
    height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2C3333;
}

.keepRadioAspect{
    max-height: 100vh;
    max-width: 100vw;

    width:auto;
    height: 100%;

    aspect-ratio: 16/9;
}

.modal{
    position: absolute;
}

// Import all
@import './Menus/Home/index.less';
@import './Menus/HomeConfig/index.less';
@import './Menus/LevelSelector/index.less';

